
<div class="container" >
  <div class="row">

    <div class="col">
      <h3>{{car.brand}} -- {{car.model}}</h3>
      <p>ID: {{car.id}} </p>
      <p>Total: {{car.total}} </p>
      <p>Stock de coches</p>
    </div>
    <div class="col">
      <button appCustomButton="blue" (click)="showModal()"  >Eliminar</button>
      @if(isModalVisible){
        <app-delete-modal (close)="hideModal()" [carModel]="car" ></app-delete-modal>
      }
      <button appCustomButton="white" routerLink="/form/{{car.id}}" >Editar</button>
    </div>

  </div>
  <div class="table">
    <app-table-component [tableHead]="tableHead" [tableBodyCar]="car" ></app-table-component>
  </div>
</div>
