.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.col {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.container{
  background-color: white;
  width: 75%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 20px;
}
.table{
  width: 100%;
}
