<form  [formGroup]="carForm" (ngSubmit)="onSubmit()">

  <div class="basicData">
    @if(showAlert){
      <app-alert (close)="closeAlert()" ></app-alert>
    }
    <h3>Formulario de coches</h3>
    <p>Marca</p>
    <select class="dataField" #brands (change)="getModels(brands.value)" formControlName="brand" >
      @for (item of brandsArray; track $index) {
        @if(item == car.brand){
          <option selected >{{item}}</option>
        } @else {
          <option>{{item}}</option>
        }
      }
    </select>
    <p>Modelo</p>
    <select class="dataField" formControlName="model" >
      @for (item of modelsArray; track $index) {
        @if(item == car.model){
          <option selected >{{item}}</option>
        } @else {
          <option >{{item}}</option>
        }

      }
    </select>
    <h4>Detalles de los coches</h4>
  </div>



  <div class="details" formArrayName = 'details'>




      @for (item of details().controls; track $index) {
        <div class="row" >
          <div [formGroupName]="$index">

            <div class="col">
              <h4>Detalles del coche {{$index + 1}}</h4>

              <p>Fecha de registro</p>
              <input class="dataField" type="date" formControlName="registerDate">

              <p>Moneda</p>
              <select class="dataField" formControlName="currency">
                <option>EUR</option>
              </select>

              <p>Matricula</p>
              <input class="dataField" formControlName="licensePlate">

              <p>Disponibilidad</p>
              <input type="checkbox" formControlName="avaiability">
            </div>

            <div class="col">
              <p>Año de fabricacion</p>
              <input class="dataField" formControlName="manufactureYear">

              <p>Precio</p>
              <input class="dataField" formControlName="price">

              <p>Kilometraje</p>
              <input class="dataField" formControlName="milleage">

              <button appCustomButton="red" (click)="deleteDetals($index)" >
                <img class="trashCan" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgy6cH4pk8uBtQ-_MBHx5MtDO8ms62KxR0UQ&s" alt="">
                Eliminar
              </button>
            </div>
        </div>
      </div>
      }




  </div>


  <button (click)="addDetails()" >Añadir detalles del coche</button>
  <br>
  <input type="submit" >



