<form  [formGroup]="carForm" (ngSubmit)="onSubmit()">
  @if(showAlert){
    <app-alert (close)="closeAlert()" ></app-alert>
  }
  <h3>Formulario de coches</h3>
  <p>Marca</p>
  <select #brands (change)="getModels(brands.value)" formControlName="brand" >
    @for (item of brandsArray; track $index) {
      @if(item == car.brand){
        <option selected >{{item}}</option>
      } @else {
        <option>{{item}}</option>
      }
    }
  </select>
  <p>Modelo</p>
  <select formControlName="model" >
    @for (item of modelsArray; track $index) {
      @if(item == car.model){
        <option selected >{{item}}</option>
      } @else {
        <option >{{item}}</option>
      }

    }
  </select>

  <div formArrayName = 'details'>
    @for (item of details().controls; track $index) {
      <h4>Detalles del coche {{$index + 1}}</h4>
      <div [formGroupName]="$index">
        <p>Fecha de registro</p>

        <input type="date" formControlName="registerDate">
        <p>Año de fabricacion</p>
        <input formControlName="manufactureYear">

        <p>Moneda</p>
        <select  formControlName="currency">
          <option>EUR</option>
        </select>
        <p>Precio</p>
        <input formControlName="price">

        <p>Matricula</p>
        <input formControlName="licensePlate">
        <p>Kilometraje</p>
        <input formControlName="milleage">
        <p>Disponibilidad</p>
        <input type="checkbox" formControlName="avaiability">
        <br>
        <button (click)="deleteDetals($index)" >Eliminar</button>
      </div>
    }
  </div>


  <button (click)="addDetails()" >Añadir detalles del coche</button>
  <br>
  <input type="submit" >



